.home {
    min-height: 100vh;
    padding-top: 50px;
}

.home__title {
    font-size: 65px;
    font-weight: 100;
    margin-bottom: 50px;
}

.home__title-description {
    font-weight: 200;
    line-height: 2;
    margin-bottom: 100px;
}