.home {
    min-height: 100vh;
    padding-top: 50px;
}

.home__title {
    font-size: 65px;
    font-weight: 100;
}

.home__body {
    margin-top: 25px;
    font-weight: 100;
    font-size: 16px;
    line-height: 3;
}