.home {
    min-height: 100vh;
    padding-top: 50px;
}

.home__title {
    font-size: 65px;
    font-weight: 100;
    margin-bottom: 50px;
}

.home__title-description {
    font-weight: 200;
    line-height: 2;
    margin-bottom: 100px;
    @media(max-width: 425px) {
        margin-bottom: 25px;
    }
}

.home__desktop-card-grid {
    @media(max-width: 425px) {
        display: none;
    }
}

.home__mobile-card-grid {
    display: none;
    @media(max-width: 425px) {
        display: block;
    }
}