.blog-card {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 350px !important;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow .5s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 3px #ccc;
        .blog-card__img {
            opacity: 1;
        }
    }
}

.blog-card__title {
    font-weight: 200;
    z-index: 99;
}

.blog-card__summary {
    font-weight: 100;
    font-size: 25px;
    z-index: 99;
}

.blog-card__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: opacity .3s ease;
}