.blog-card {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 350px !important;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow .5s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 3px #ccc;
        .blog-card__img {
            opacity: 1;
        }
    }
    @media(max-width: 425px) {
        max-width: 500px;
    }
}

.blog-card__title {
    font-weight: 200;
    z-index: 99;
}

.blog-card__summary {
    font-weight: 100;
    font-size: 25px;
    z-index: 99;
}

.blog-card__icon {
    margin-right: auto;
    margin-left: auto;
    width: 100px !important;
    height: 100px !important;
    @media(max-width: 425px) {
        width: 50px !important;
        height: 75px !important;
    }
}