.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__title {
    text-align: center;
    font-size: 65px;
    font-weight: 100;
}

.home__subtitle {
    text-align: center;
    font-weight: 100;
    font-size: 35px;
}